.green-theme {
    /* Coolors Exported Palette - https://coolors.co/011627-95bf74-659b5e-556f44-283f3b */
    /* CSS HEX */
    --pistachio: #95bf74ff;
    --asparagus: #659b5eff;
    --fern-green: #556f44ff;
    --dark-slate-gray: #283f3bff;
    --rich-black: #011627ff;

    --background: var(--dark-slate-gray);
    --color-medium: var(--fern-green);
    --color-light: var(--asparagus);
    --color-accent: var(--pistachio);
    --color-dark: var(--rich-black);

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--color-light);
}

a:link {
    color: var(--color-accent);
}

a:visited {
    color: var(--color-accent);
}

/* Bar Graph Horizontal */

.bar-graph-horizontal {
    max-width: 500px;
}

.bar-graph-horizontal>div {
    float: left;
    margin-bottom: 8px;
    width: 100%;
}

.bar-graph-horizontal .song-dimension {
    display: inline-block;
    margin-top: 18px;
    width: 100px;
    margin-left: 9px;
}

.bar-graph-horizontal .bar {
    background-color: var(--color-light);
    border-radius: 3px;
    height: 55px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 0;
}

#bar-graph .bar::after {
    opacity: 1;
    color: #fff;
    content: attr(data-percentage);
    font-weight: 700;
    position: absolute;
    right: 16px;
    top: 17px;
}

/* https://codepen.io/anythinggraphic/pen/LYPeaQV */